<%- include('../partials/header') %>

    <ul>
    <% skills.forEach(function(s) { %>
      <li></li>
        <form 
        action="/skills/<%= s.id %>?_method=DELETE"
        method="POST"
        class="delete-form"
        >
          <button type="submit">X</button>
        </form>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        <!-- -
        <%= s.done ? 'done' : 'not done'%> -->
      </li>
    <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>

<%- include('../partials/footer') %>