<%- include('../partials/header') %>

    <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        <!-- -
        <%= s.done ? 'done' : 'not done'%> -->
      </li>
    <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>

<%- include('../partials/footer') %>